* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid gray;
    border-radius: 1.5rem;
}

.container .left {
    width: 30vw;
    display: flex;
    justify-content: center;
}

.container .left .img img {
    width: 25vw;
}

.container .right {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .right .logo {
    margin-bottom: 1rem;
}

.container .right form {
    margin: 0.3rem 0;
}

.container .right button {
    padding: 0.5rem 6.8rem;
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;
    background-color: #d268cc;
    color: white;
}

.container .right form .input {
    margin: 0.7rem 0;
}

label {
    font-size: 0.8rem;
    color: gray;
}

input {
    padding: 0.5rem 3rem;
    border: 1px solid gray;
    border-radius: 0.8rem;
}

.container .right p {
    margin: 0.5rem 0;
}

.container .right a {
    color: black;
}

.container .right .options a {
    margin: 0 0.5rem;
    font-size: 1rem;
}